<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Message | Message nest</title>
</head>

<body>
  <h1>Fill the below form to add new message in the nest!</h1>
  <form method="POST" action="/new">
    <div class="form-row">
      <label for="user">User Name: </label>
      <input type="text" placeholder="Enter your name" maxlength="20" name="user" id="user">
    </div>
    <div class="form-row">
      <label for="text">Message: </label>
      <input type="text" placeholder="Enter message here" maxlength="70" name="text" id="text">
    </div>
    <div class="form-row">
      <button type="submit">Add message!</button>
    </div>
  </form>
  <a href="/">Back to messages</a>
</body>

</html>